<div class="grid grid-cols-1 gap-5 md:grid-cols-3">
  <!-- users -->
  <section hlmCard>
    <div hlmCardContent class="mt-5 flex justify-between">
      <div class="space-y-3">
        <span class="rounded-full bg-purple-800 px-3 py-2 text-white">
          <i class="fa-solid fa-user"></i>
        </span>
        <p hlmCardTitle>Users</p>
      </div>
      <p class="text-4xl font-bold text-purple-800">18</p>
    </div>
  </section>

  <!-- books -->
  <section hlmCard>
    <div hlmCardContent class="mt-5 flex justify-between">
      <div class="space-y-3">
        <span class="rounded-full bg-slate-800 px-3 py-2 text-white">
          <i class="fa-solid fa-book"></i>
        </span>
        <p hlmCardTitle>Books</p>
      </div>
      <p class="text-4xl font-bold text-slate-800">18</p>
    </div>
  </section>

  <!-- Genres -->
  <section hlmCard>
    <div hlmCardContent class="mt-5 flex justify-between">
      <div class="space-y-3">
        <span class="rounded-full bg-green-500 px-3 py-3 text-white">
          <i class="fa-solid fa-masks-theater"></i>
        </span>
        <p hlmCardTitle>Genres</p>
      </div>
      <p class="text-4xl font-bold text-green-500">18</p>
    </div>
  </section>
</div>
