<!-- Rating section -->
@if (ratings !== null) {
  <section
    class="mx-auto flex max-w-[30rem] flex-col items-center gap-5 rounded-xl border-4 p-5"
  >
    <div class="flex w-full flex-col items-center gap-2">
      <!-- title -->
      <h2 class="text-3xl font-bold text-[#323357]">Book Ratings</h2>
      <!-- stars -->
      <div
        class="flex flex-col items-center justify-between rounded-full bg-[#EFF4FF] px-4 py-2 md:px-8 md:py-4"
      >
        <div class="flex">
          @for (
            item of getArrayFromNumber(getAverageRating(ratings));
            track $index
          ) {
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="rgb(250 204 21)"
                width="40"
                height="40"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="0"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-star"
              >
                <path
                  d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
                />
              </svg>
            </span>
          }
        </div>
        <p>
          <span>{{ getAverageRating(ratings) }}</span> out of 10 (Average)
        </p>
      </div>
      <!-- subtitle -->
      <h2 class="text-xl">{{ ratings?.length }} User Have rated</h2>
    </div>

    <!-- sliders -->
    <div class="w-full">
      <div class="flex w-full flex-col items-center gap-2">
        @for (num of numberOfStar(); track $index) {
          <!-- slider section group -->
          <div class="flex w-full gap-2">
            <!-- star text -->
            <p class="text-md min-w-14 text-right font-medium text-blue-700">
              {{ num }} star
            </p>

            <!-- ---------------- dialog start -------------------------- -->
            <div class="w-full">
              <hlm-dialog>
                <!-- <button brnDialogTrigger hlmBtn></button> -->
                <!-- slider -->
                <button
                  brnDialogTrigger
                  class="h-7 w-full cursor-pointer rounded-full border-4 border-slate-100 bg-[#EFF4FF] transition-all delay-150 hover:ring-2 hover:ring-gray-300 hover:ring-offset-2"
                >
                  <progress
                    [value]="getRatingValue(num)"
                    [max]="ratings.length"
                    class="h-4 w-full rounded-full [&::-moz-progress-bar]:bg-yellow-400 [&::-webkit-progress-bar]:rounded-full [&::-webkit-progress-bar]:bg-[#E7EEFF] [&::-webkit-progress-value]:rounded-full [&::-webkit-progress-value]:bg-yellow-400"
                  ></progress>
                </button>
                <hlm-dialog-content *brnDialogContent="let ctx">
                  <hlm-dialog-header>
                    <div class="mt-4 flex items-center justify-between">
                      <p class="text-2xl font-bold">Ratings</p>
                      <!-- <p>{{ commentNumberOfStar() }} stars</p> -->
                    </div>

                    <p hlmDialogDescription hlm>
                      Make changes to your profile here. Click save when you're
                      done.
                    </p>
                  </hlm-dialog-header>
                  <!-- average stars -->
                  <div class="">
                    <div
                      class="max-h-10 w-fit rounded-full bg-blue-400 p-2 text-white"
                    >
                      <!-- stars rating -->
                      @for (
                        item of getArrayFromNumber(getAverageRating(ratings));
                        track $index
                      ) {
                        <span>⭐</span>
                      }

                      {{ getAverageRating(ratings) }} out of 10
                    </div>
                  </div>

                  <!-- comment body inside diablog box -->
                  <section class="overflow-hidden bg-transparent">
                    <div class="">
                      <div>
                        <p class="text-2xl font-bold">Comments</p>
                        <div class="max-h-64 divide-y-2">
                          <!-- comments -->
                          @if (displayByRatingValue(num, ratings).length > 0) {
                            @for (
                              comment of displayByRatingValue(num, ratings);
                              track $index
                            ) {
                              <div
                                class="flex flex-col gap-2 px-1 py-3 hover:bg-slate-100"
                              >
                                <div>
                                  <p class="font-bold">
                                    {{ comment?.user?.email }}
                                  </p>
                                  @for (
                                    stars of getArrayFromNumber(
                                      comment?.ratingValue
                                    );
                                    track $index
                                  ) {
                                    <span>⭐</span>
                                  }
                                </div>
                                <p>
                                  {{ comment?.comment }}
                                </p>
                              </div>
                            }
                          } @else {
                            <div>no comments found</div>
                          }
                        </div>
                      </div>
                    </div>
                  </section>
                </hlm-dialog-content>
              </hlm-dialog>
            </div>

            <!-- ---------------- dialog end -------------------------- -->

            <!-- percent text -->
            <p class="text-md min-w-10 font-medium text-blue-700">
              {{
                (getRatingCount(num) / ratingInfo()?.length) * 100
                  | number: "1.0-1"
              }}%
            </p>
          </div>
        }
      </div>
    </div>

    <!-- <button
      (click)="openWriteReview()"
      class="mb-3 w-[10rem] rounded-full bg-[#323357] px-5 py-3 font-bold text-white"
    >
      Write a review
    </button> -->
  </section>
}
