<div class="flex flex-col gap-5 md:flex">
  <div class="flex w-fit items-center gap-3 p-3">
    <ng-container *ngFor="let star of stars; index as i">
      <span
        class="star cursor-pointer flex-wrap rounded-md border-2 p-1 text-3xl text-slate-500"
        [class.filled]="i < value"
        (click)="onStarClick(i + 1)"
        (mouseover)="onHover(i + 1)"
        (mouseleave)="onHover(0)"
      >
        ★
      </span>
    </ng-container>
  </div>
  <!-- <div>
    @if (avgRating !== 0) {
      <p class="text-xl font-bold text-black">
        Rating:
        <span class="text-green-500"
          >{{ avgRating }} /
          <span class="text-yellow-500">{{ max }}</span></span
        >
      </p>
    }
  </div> -->
</div>
