<div class="flex flex-col gap-5 md:flex">
  <div class="flex items-center gap-2">
    <ng-container *ngFor="let star of stars; index as i">
      <span
        class="star cursor-pointer flex-wrap rounded-md border-2 px-1 text-2xl text-slate-500"
        [class.filled]="i < value"
        (click)="onStarClick(i + 1)"
        (mouseover)="onHover(i + 1)"
        (mouseleave)="onHover(0)"
      >
        ★
      </span>
    </ng-container>
  </div>
  <p class="text-center text-xl font-semibold text-yellow-500">
    {{ value > 0 ? value + " Star out of 10" : "" }}
  </p>
</div>
