<hlm-toaster richColors closeButton position="top-right" />
<!-- user detail setting form -->
<form
  class="mt-8 flex flex-col gap-5"
  [formGroup]="genreForm"
  (ngSubmit)="onSubmit()"
>
  <input type="hidden" formControlName="id" />

  <label hlmLabel class="w-full"
    >Genre Name
    <input
      hlmInput
      formControlName="name"
      type="text"
      placeholder="Enter genre name"
      class="w-full"
    />

    <div
      class="flex flex-col font-normal text-red-500"
      *ngIf="genreForm.get('name')?.invalid && genreForm.get('name')?.touched"
    >
      <small *ngIf="genreForm.get('name')?.errors">name is required</small>
    </div>
  </label>

  <label hlmLabel class="w-full"
    >Description
    <textarea
      hlmInput
      formControlName="description"
      type="text"
      placeholder="Enter your description"
      class="min-h-[120px] w-full"
      maxlength="255"
    ></textarea>

    <p
      [ngClass]="{
        'mt-3 text-right text-sm text-green-500': true,
        'text-red-500': genreForm.getRawValue()?.description.length > 255,
      }"
    >
      {{ genreForm.getRawValue()?.description.length }} / 255
    </p>

    <small *ngIf="genreForm.get('description')?.errors">
      <ul class="flex flex-col gap-1">
        <li
          *ngFor="let error of genreForm.get('description').errors | keyvalue"
        >
          {{ error.value?.message }}
        </li>
      </ul>
    </small>
  </label>

  <button [disabled]="genreForm.invalid" type="submit" hlmBtn variant="default">
    {{ genre ? "Edit Genre" : "Create Genre" }}
  </button>
</form>
