<div
  class="flex h-screen items-center justify-center bg-gray-100"
  style="
    background-image: url(&quot;https://www.shutterstock.com/image-vector/back-school-doodle-seamless-pattern-600nw-2458729669.jpg&quot;);
  "
>
  <div class="rounded-xl bg-white/80 px-5 py-14 text-center">
    <!-- "Oops!" Text -->
    <h1
      class="mb-8 bg-gradient-to-r from-purple-500 to-blue-600 bg-clip-text text-8xl font-bold text-transparent md:text-9xl"
      style="
        background-image: linear-gradient(
            rgba(56, 207, 10, 0.726),
            rgba(26, 115, 175, 0.822)
          ),
          url(&quot;https://www.shutterstock.com/image-vector/back-school-doodle-seamless-pattern-600nw-2458729669.jpg&quot;);
        background-size: cover;
        background-position: center;
      "
    >
      Oops!
    </h1>

    <!-- 404 Message -->
    <h2 class="mb-4 text-2xl font-semibold text-gray-800">
      404 - Page Not Found
    </h2>
    <p class="mb-8 max-w-[80ch]">
      The page you are looking for might have been removed, had its name
      changed, or is temporarily unavailable.
    </p>

    <!-- Button to Homepage -->
    <button
      routerLink="/books"
      class="rounded-lg bg-green-600 px-6 py-3 text-white shadow transition hover:bg-green-700"
    >
      Go to Homepage
    </button>
  </div>
</div>
