<!-- header -->
<app-hero-header
  title="My Books"
  subtitle="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate vel
    quisquam at? Necessitatibus delectus cupiditate corrupti sunt ipsam a amet."
></app-hero-header>

<button (click)="addBook()" hlmBtn variant="default" class="space-x-2">
  <i class="fa-solid fa-book"></i
  ><span>{{ isAddBookOpen() ? "Display Books List" : "Add Books" }}</span>
</button>

<!-- Render all books -->
<div *ngIf="!isAddBookOpen()" class="mt-5 flex flex-col gap-5">
  <h1 class="text-xl font-bold">
    Total number of books
    <span class="text-green-500">( {{ books()?.length }} Books )</span>
  </h1>
  <app-books-by-author [inputBooks]="books()"></app-books-by-author>
</div>

<div *ngIf="isAddBookOpen()">
  <!-- <app-book-form></app-book-form> -->
  <app-book-form-with-file />
</div>
