<app-hero-header
  title="Admin Edit"
  subtitle="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda eius, aperiam a repellat perspiciatis itaque.
"
></app-hero-header>

@if (authorLoading() === true) {
  <app-loading-state
    [loading]="authorLoading()"
    loadingText="loading author information"
    heightclass="h-screen"
  ></app-loading-state>
}

@if (authorError()) {
  <app-error-state
    [error]="authorError()"
    heightclass="h-screen"
  ></app-error-state>
}

@if (!authorLoading() && !authorError()) {
  <app-profile-form-with-file
    [userId]="userId()"
    [user]="author()"
    [admin]="true"
  ></app-profile-form-with-file>
}
