<p>AdminProfileEdit works! and name is {{ author()?.data?.firstName }}</p>

@if (authorLoading() === true) {
  <app-loading-state
    [loading]="authorLoading()"
    loadingText="loading author information"
    heightclass="h-screen"
  ></app-loading-state>
}

@if (authorError()) {
  <app-error-state
    [error]="authorError()"
    heightclass="h-screen"
  ></app-error-state>
}

@if (!authorLoading() && !authorError()) {
  <app-profile-form
    [userId]="userId()"
    [user]="author()"
    [admin]="true"
  ></app-profile-form>
}
