<hlm-toaster richColors closeButton position="top-right" />
<!-- user detail setting form -->
<form
  class="mt-8 flex flex-col gap-5"
  [formGroup]="profileForm"
  (ngSubmit)="onSubmit()"
>
  <input type="hidden" formControlName="id" />

  <label hlmLabel class="w-full"
    >First Name
    <input
      hlmInput
      formControlName="firstName"
      type="text"
      placeholder="Enter your first name"
      class="w-full"
    />

    <div
      class="flex flex-col font-normal text-red-500"
      *ngIf="
        profileForm.get('firstName')?.invalid &&
        profileForm.get('firstName')?.touched
      "
    >
      <small *ngIf="profileForm.get('firstName')?.errors"
        >first name is required</small
      >
    </div>
  </label>
  <label hlmLabel class="w-full"
    >Last Name
    <input
      hlmInput
      formControlName="lastName"
      type="text"
      placeholder="Enter your last name"
      class="w-full"
    />

    <div
      class="flex flex-col font-normal text-red-500"
      *ngIf="
        profileForm.get('lastName')?.invalid &&
        profileForm.get('lastName')?.touched
      "
    >
      <small *ngIf="profileForm.get('lastName')?.errors"
        >first name is required</small
      >
    </div>
  </label>

  <label hlmLabel class="w-full"
    >Bio
    <textarea
      hlmInput
      formControlName="biography"
      type="text"
      placeholder="Enter your biography"
      class="w-full"
      row="20"
    ></textarea>

    <div
      class="flex flex-col font-normal text-red-500"
      *ngIf="
        profileForm.get('biography')?.invalid &&
        profileForm.get('biography')?.touched
      "
    >
      <small *ngIf="profileForm.get('biography')?.errors"
        >first name is required</small
      >
    </div>
  </label>

  <label hlmLabel class="w-full"
    >Profile Picture
    <input
      hlmInput
      formControlName="profilePicture"
      type="text"
      placeholder="Enter your Profile Picture"
      class="w-full"
    />
  </label>

  <input hlmInput formControlName="userId" type="hidden" class="w-full" />

  <div formArrayName="socialLinks">
    <div class="flex w-full items-center justify-between gap-3">
      <label hlmLabel>Social Links</label>
      <button
        hlmBtn
        variant="outline"
        type="button"
        (click)="addSocialLink()"
        class="flex items-center gap-2"
      >
        <i class="fa-solid fa-hashtag"></i>
        <span> Add Social Link</span>
      </button>
    </div>

    <!-- Add Socials -->
    <div *ngFor="let link of socialLinks.controls; let i = index">
      <div class="flex w-full items-end gap-5">
        <label class="w-full">
          Link {{ i + 1 }}
          <input hlmInput [formControlName]="i" type="text" class="w-full" />
          <pre *ngIf="profileForm.get('socialLinks.at(i)')?.invalid">{{
            profileForm.get("socialLinks.at(i)")?.errors | json
          }}</pre>
          <div
            class="flex flex-col font-normal text-red-500"
            *ngIf="
              profileForm.get('socialLinks.at(i)')?.invalid &&
              profileForm.get('socialLinks.at(i)')?.touched &&
              profileForm.get('socialLinks.at(i)')?.hasError
            "
          >
            <small *ngIf="profileForm.get('socialLinks.at(i)')?.errors"
              >invalid url</small
            >
          </div>
        </label>
        <button
          hlmBtn
          variant="secondary"
          type="button"
          (click)="removeSocialLink(i)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>

  <button
    [disabled]="profileForm.invalid"
    type="submit"
    hlmBtn
    variant="default"
  >
    Submit
  </button>
</form>
