<!-- loading state -->
<app-loading-state
  [loading]="loading()"
  loadingText="Loading Genres..."
  heightclass="h-screen"
></app-loading-state>

<!-- error state -->
<app-error-state heightclass="h-screen" [error]="error()"></app-error-state>

<div
  *ngIf="!loading() && !error()"
  class="mx-[1rem] my-[7rem] flex flex-col gap-5 md:mx-[5rem] xl:mx-[10rem]"
>
  <app-hero-header
    [title]="genre()?.name"
    [subtitle]="genre()?.description"
  ></app-hero-header>

  <div>
    <app-books [inputBooks]="BooksByGenre()"></app-books>
  </div>
</div>
