<section class="flex min-h-screen flex-col">
  <!-- Navbar -->
  <header class="p-4 text-center">
    <h1 class="text-2xl font-bold">Header</h1>
  </header>

  <main class="mx-[10rem]">
    <!-- hero section text -->
    <div class="my-5 flex flex-col gap-2">
      <h2 class="text-4xl font-bold text-green-400">Am Book Center</h2>
      <p HlmPDirective class="text-balance text-lg">
        is simply dummy text of the printing and typesetting industry. Lorem
        Ipsum has been the industry's standard dummy text ever since the 1500s
      </p>
    </div>

    <!-- search section -->
    <div class="mb-8">
      <div class="mb-4 flex gap-2">
        <!-- search input -->
        <input
          class="w-full"
          hlmInput
          placeholder="enter book name"
          type="text"
        />

        <!-- search button -->
        <button hlmBtn variant="default" class="rounded-full">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </button>
      </div>

      <!-- select elements -->
      <div class="grid w-full grid-cols-3 gap-2 md:gap-5 lg:gap-5">
        <brn-select class="inline-block" placeholder="Select publisher">
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content class="w-full">
            <hlm-option value="Publisher">Publisher</hlm-option>
            <hlm-option value="Settings">Settings</hlm-option>
            <hlm-option value="Help">Help</hlm-option>
          </hlm-select-content>
        </brn-select>

        <brn-select class="inline-block" placeholder="Select published date">
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content class="w-full">
            <hlm-option value="Publisher">Publisher</hlm-option>
            <hlm-option value="Settings">Settings</hlm-option>
            <hlm-option value="Help">Help</hlm-option>
          </hlm-select-content>
        </brn-select>

        <brn-select class="inline-block" placeholder="Select published date">
          <hlm-select-trigger class="w-full">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content class="w-full">
            <hlm-option value="Publisher">Publisher</hlm-option>
            <hlm-option value="Settings">Settings</hlm-option>
            <hlm-option value="Help">Help</hlm-option>
          </hlm-select-content>
        </brn-select>
      </div>
    </div>

    <!-- list of cards -->
    <div class="grid grid-cols-1 gap-8 md:grid-cols-3 lg:grid-cols-4">
      @for (item of items; track $index) {
        <!-- card -->
        <a
          [href]="item.link"
          target="_blank"
          class="group relative overflow-hidden rounded-lg shadow-lg"
        >
          <!-- card image -->
          <img
            [src]="item.image"
            alt="Book cover"
            class="h-full w-full object-fill"
          />
          <!-- card detail -->
          <div
            class="absolute inset-0 bg-black/70 p-4 text-white opacity-0 backdrop-blur-md transition-opacity duration-300 group-hover:opacity-100"
          >
            <div
              class="flex h-full w-full flex-col items-start justify-between"
            >
              <div class="flex flex-col items-start gap-3">
                <!-- title -->
                <p
                  hlmP
                  target="_blank"
                  class="truncate text-wrap text-xl font-semibold"
                >
                  {{ item.title }}
                </p>

                <p class="w-full text-ellipsis text-white">
                  {{ item.description }}
                </p>
              </div>
              <div>
                <p class="text-md font-medium">Publication year</p>
                <p class="text-sm">{{ item.date }}</p>
              </div>
            </div>
          </div>
        </a>
      }
    </div>

    <!-- pagination -->
    <nav hlmPagination class="my-10">
      <ul hlmPaginationContent>
        <li hlmPaginationItem>
          <hlm-pagination-previous link="/components/menubar" />
        </li>
        <li hlmPaginationItem>
          <a hlmPaginationLink link="#">1</a>
        </li>
        <li hlmPaginationItem>
          <a hlmPaginationLink link="#" isActive>2</a>
        </li>
        <li hlmPaginationItem>
          <a hlmPaginationLink link="#">3</a>
        </li>
        <li hlmPaginationItem>
          <hlm-pagination-ellipsis />
        </li>
        <li hlmPaginationItem>
          <hlm-pagination-next link="/components/popover" />
        </li>
      </ul>
    </nav>
  </main>

  <!-- footer -->
  <footer class="bg-gray-800 p-4 text-center text-white">
    <p>Footer</p>
  </footer>
</section>
