<div>
  <!-- header -->
  <app-hero-header
    title="Update Book information"
    subtitle="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate vel
    quisquam at? Necessitatibus delectus cupiditate corrupti sunt ipsam a amet."
  ></app-hero-header>

  <!-- loading state -->

  <app-loading-state
    [loading]="loading()"
    [loadingText]="'Loading book with id ' + bookId()"
  ></app-loading-state>
  <app-error-state [error]="error()"></app-error-state>

  <section *ngIf="!loading() && !error()" class="">
    <app-book-form [bookId]="bookId()" [bookRecieved]="book()"></app-book-form>
  </section>
</div>
