<!-- Navbar -->
<nav class="">
  <header
    class="fixed isolate z-10 flex w-full items-center justify-between bg-transparent px-5 shadow-sm backdrop-blur-md"
  >
    <!-- logo -->
    <a routerLink="/books">
      <svg
        width="64px"
        height="64px"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M27 6H5C3.34315 6 2 7.34315 2 9V23C2 24.6569 3.34315 26 5 26H27C28.6569 26 30 24.6569 30 23V9C30 7.34315 28.6569 6 27 6Z"
            fill="#388E3C"
          ></path>
          <path
            d="M16 6V26H5C4.20435 26 3.44129 25.6839 2.87868 25.1213C2.31607 24.5587 2 23.7956 2 23V9C2 8.20435 2.31607 7.44129 2.87868 6.87868C3.44129 6.31607 4.20435 6 5 6H16Z"
            fill="#66BB6A"
          ></path>
          <path
            d="M12 6V20C12 20.2652 11.8946 20.5196 11.7071 20.7071C11.5196 20.8946 11.2652 21 11 21C10.7348 21 10.4804 20.8946 10.2929 20.7071C10.1054 20.5196 10 20.2652 10 20V6H12Z"
            fill="#F5F5F5"
          ></path>
          <path
            d="M25 13H20C19.7348 13 19.4804 12.8946 19.2929 12.7071C19.1054 12.5196 19 12.2652 19 12C19 11.7348 19.1054 11.4804 19.2929 11.2929C19.4804 11.1054 19.7348 11 20 11H25C25.2652 11 25.5196 11.1054 25.7071 11.2929C25.8946 11.4804 26 11.7348 26 12C26 12.2652 25.8946 12.5196 25.7071 12.7071C25.5196 12.8946 25.2652 13 25 13Z"
            fill="#E0E0E0"
          ></path>
          <path
            d="M25 17H22C21.7348 17 21.4804 16.8946 21.2929 16.7071C21.1054 16.5196 21 16.2652 21 16C21 15.7348 21.1054 15.4804 21.2929 15.2929C21.4804 15.1054 21.7348 15 22 15H25C25.2652 15 25.5196 15.1054 25.7071 15.2929C25.8946 15.4804 26 15.7348 26 16C26 16.2652 25.8946 16.5196 25.7071 16.7071C25.5196 16.8946 25.2652 17 25 17Z"
            fill="#E0E0E0"
          ></path>
          <path
            d="M25 21H20C19.7348 21 19.4804 20.8946 19.2929 20.7071C19.1054 20.5196 19 20.2652 19 20C19 19.7348 19.1054 19.4804 19.2929 19.2929C19.4804 19.1054 19.7348 19 20 19H25C25.2652 19 25.5196 19.1054 25.7071 19.2929C25.8946 19.4804 26 19.7348 26 20C26 20.2652 25.8946 20.5196 25.7071 20.7071C25.5196 20.8946 25.2652 21 25 21Z"
            fill="#E0E0E0"
          ></path>
        </g>
      </svg>
    </a>
    <!-- navlinks -->
    <ul class="hidden items-center gap-5 md:flex">
      <li>
        <a
          routerLink="/books"
          routerLinkActive="bg-green-500 text-white font-bold"
          class="h-full rounded-full px-4 py-1 transition-all delay-100 hover:bg-slate-200"
          >Books</a
        >
      </li>
      <li>
        <a
          routerLink="/genres"
          routerLinkActive="bg-green-500 text-white font-bold"
          class="h-full rounded-full px-4 py-1 transition-all delay-100 hover:bg-slate-200"
          >Genre</a
        >
      </li>
      <li>
        <a
          routerLink="/collections"
          routerLinkActive="bg-green-500 text-white font-bold"
          class="h-full rounded-full px-4 py-1 transition-all delay-100 hover:bg-slate-200"
          >Collections</a
        >
      </li>
    </ul>

    <!-- login and register buttons -->
    <div
      *ngIf="authService.currentUserSignal() === null"
      class="hidden items-center gap-3 md:flex"
    >
      <a
        routerLink="/login"
        class="rounded-full border-2 border-transparent bg-green-500 px-4 py-2 text-white hover:bg-green-600"
        >sign in</a
      >
      <a
        routerLink="/register"
        class="rounded-full border-2 border-transparent bg-slate-800 px-4 py-2 text-white transition-all delay-75 hover:border-2 hover:border-green-500 hover:bg-transparent hover:text-green-500"
        >Register</a
      >
    </div>

    <!-- user name Avatar -->
    <div
      *ngIf="authService.currentUserSignal() !== null"
      class="flex items-center gap-3 rounded-md hover:md:bg-green-200"
      [brnMenuTriggerFor]="menu"
    >
      <!-- Avatar Icon with image and name -->
      <hlm-avatar
        variant="medium"
        class="cursor-pointer ring-2 ring-green-500 ring-offset-2"
      >
        <img
          [src]="
            'http://localhost:9191' +
              authService.currentUserDetail()?.data?.profilePicture ||
            'https://t3.ftcdn.net/jpg/06/33/54/78/360_F_633547842_AugYzexTpMJ9z1YcpTKUBoqBF0CUCk10.jpg'
          "
          alt="spartan logo. Resembling a spartanic shield"
          hlmAvatarImage
        />
        <span
          class="bg-gradient-to-bl from-green-500 to-cyan-300 text-white"
          hlmAvatarFallback
          >{{
            authService
              .currentUserSignal()
              ?.data?.user?.username.at(0)
              .toUpperCase()
          }}</span
        >
      </hlm-avatar>
      <p class="hidden text-lg md:block">
        {{
          authService.currentUserDetail()?.data?.firstName ||
            authService.currentUserSignal()?.data?.user?.username
        }}
      </p>

      <!-- Drop down menu for the avatar -->
      <ng-template #menu>
        <hlm-menu class="w-56">
          <hlm-menu-label
            ><p class="text-green-500">My Account</p>
            <p class="text-lg">
              {{ authService.currentUserDetail()?.data?.firstName }}
              {{ authService.currentUserDetail()?.data?.lastName }}
              <!-- {{ authService.currentUserSignal()?.data?.user?.username }} -->
            </p></hlm-menu-label
          >
          <hlm-menu-separator />
          <hlm-menu-group>
            <a hlmMenuItem routerLink="/dashboard/profile">Profile</a>
            <a hlmMenuItem routerLink="/dashboard/books">Books</a>
            <a hlmMenuItem routerLink="/dashboard/collections">Collections</a>
            @if (
              authService.currentUserSignal()?.data?.user?.role === "ADMIN"
            ) {
              <button hlmMenuItem routerLink="/admin/dashboard">
                Admin Dashboard
              </button>
            }

            @if (
              authService.currentUserSignal()?.data?.user?.role === "USER" ||
              authService.currentUserSignal()?.data?.user?.role === "AUTHOR"
            ) {
              <button hlmMenuItem routerLink="/dashboard/books">
                Dashboard
              </button>
            }

            <hlm-menu-separator />
            <button
              hlmMenuItem
              (click)="logout()"
              class="cursor-pointer bg-red-800 text-center font-bold text-white"
            >
              logout
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>

      <!-- nav open burger menu -->

      <app-navmobile></app-navmobile>
    </div>
  </header>
</nav>
