<section class="h-screen">
  <hlm-toaster richColors closeButton position="top-right" />
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="grid h-screen md:grid-cols-2"
  >
    <div
      class="flex h-full w-full flex-col justify-center gap-4 px-8 py-12 md:px-12"
    >
      <h1 class="w-full text-center text-3xl font-bold">Register page</h1>
      <label hlmLabel class="w-full"
        >User name
        <input
          hlmInput
          id="username"
          formControlName="username"
          type="text"
          placeholder="Enter your username"
          class="w-full"
        />
        <div
          class="flex flex-col font-normal text-red-500"
          *ngIf="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
          "
        >
          <small *ngIf="registerForm.get('username')?.errors"
            >user is required</small
          >
        </div>
      </label>

      <label hlmLabel class="w-full"
        >Email
        <input
          hlmInput
          formControlName="email"
          type="email"
          placeholder="Enter your email"
          class="w-full"
        />
        <div
          class="flex flex-col font-normal text-red-500"
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          <small *ngIf="registerForm.get('email')?.errors"
            >email is required</small
          >
        </div>
      </label>

      <label hlmLabel class="w-full"
        >Password
        <input
          hlmInput
          formControlName="password"
          type="password"
          placeholder="Enter your password"
          class="w-full"
        />

        <div
          class="flex flex-col font-normal text-red-500"
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          <small *ngIf="registerForm.get('password')?.errors"
            >password is required</small
          >
        </div>
      </label>

      <!-- <label hlmLabel class="w-full"
        >Confirm Password
        <input
          hlmInput
          formControlName="confirmPassword"
          type="password"
          placeholder="repeat your password"
          class="w-full"
        />
      </label> -->

      <!-- <label class="flex items-center" hlmLabel>
        <hlm-checkbox class="mr-2" />
        Accept terms and conditions
      </label> -->

      <button
        (click)="showToastDanger()"
        type="submit"
        [disabled]="registerForm.invalid === true"
        [ngClass]="{
          'cursor-not-allowed': registerForm.invalid,
          'w-full rounded-md bg-green-500 px-5 py-3 text-lg font-medium text-white shadow-lg hover:bg-green-600 disabled:bg-slate-500': true,
        }"
      >
        Register
      </button>

      <hr hlmSeparator class="my-3" />

      <p class="text-center">
        if you got an have account
        <a routerLink="/login" c class="font-bold text-green-500 underline">
          Login?</a
        >
      </p>
    </div>
    <img
      src="https://cdn.pixabay.com/photo/2015/06/25/14/13/fern-821293_960_720.jpg"
      loading="lazy"
      class="hidden h-full w-full object-cover md:block"
    />
  </form>
</section>
