<!-- <app-loading-state
  [loading]="loading()"
  loadingText="loading users"
></app-loading-state>

<app-error-state [error]="error()" heightclass="h-screen"></app-error-state> -->
<hlm-toaster richColors closeButton position="top-right" />
<section>
  <!-- search and filter -->
  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <input
      hlmInput
      class="w-full md:w-80"
      placeholder="Filter emails..."
      [ngModel]="_emailFilter()"
      (ngModelChange)="_rawFilterInput.set($event)"
    />

    <!-- Column Visibility Selector -->
    <button hlmBtn variant="outline" align="end" [brnMenuTriggerFor]="menu">
      Columns
      <hlm-icon name="lucideChevronDown" class="ml-2" size="sm" />
    </button>
    <ng-template #menu>
      <hlm-menu class="">
        @for (column of _brnColumnManager.allColumns; track column.name) {
          <button
            hlmMenuItemCheckbox
            [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
            [checked]="_brnColumnManager.isColumnVisible(column.name)"
            (triggered)="_brnColumnManager.toggleVisibility(column.name)"
          >
            <hlm-menu-item-check />
            <span>{{ column.label }}</span>
          </button>
        }
      </hlm-menu>
    </ng-template>
  </div>

  <!-- Table Defination and Column definations -->
  <brn-table
    hlm
    stickyHeader
    class="mt-4 block overflow-auto rounded-md border border-border"
    [dataSource]="_filteredSortedPaginatedUsers()"
    [displayedColumns]="_allDisplayedColumns()"
    [trackBy]="_trackBy"
  >
    <!-- checkbox column def -->
    <brn-column-def name="select" class="w-12">
      <hlm-th *brnHeaderDef>
        <hlm-checkbox
          [checked]="_checkboxState()"
          (changed)="handleHeaderCheckboxChange()"
        />
      </hlm-th>
      <hlm-td *brnCellDef="let element">
        <hlm-checkbox
          [checked]="_isUserSelected(element)"
          (changed)="toggleUser(element)"
        />
      </hlm-td>
    </brn-column-def>
    <!-- id col def -->
    <brn-column-def name="id" class="">
      <hlm-th truncate *brnHeaderDef>ID</hlm-th>
      <hlm-td truncate *brnCellDef="let element">
        {{ element.id }}
      </hlm-td>
    </brn-column-def>

    <!-- username col def -->
    <brn-column-def name="username" class="w-44 lg:flex-1">
      <hlm-th *brnHeaderDef>
        <button
          hlmBtn
          size="sm"
          variant="ghost"
          (click)="handleEmailSortChange()"
        >
          User name
          <hlm-icon class="ml-3" size="sm" name="lucideArrowUpDown" />
        </button>
      </hlm-th>
      <hlm-td *brnCellDef="let element">
        {{ element.username }}
      </hlm-td>
    </brn-column-def>

    <!-- role col def -->
    <brn-column-def name="role" class="">
      <hlm-th *brnHeaderDef>Role</hlm-th>
      <hlm-td class="font-medium tabular-nums" *brnCellDef="let element">
        @if (element.role === "Admin".toUpperCase()) {
          <p class="rounded-full bg-green-500 px-2 py-1 text-white">
            {{ element.role }}
          </p>
        } @else if (element.role === "user".toUpperCase()) {
          <p class="rounded-full bg-blue-700 px-2 py-1 text-white">
            {{ element.role }}
          </p>
        } @else if (element.role === "author".toUpperCase()) {
          <p class="rounded-full bg-slate-800 px-2 py-1 text-white">
            {{ element.role }}
          </p>
        }
      </hlm-td>
    </brn-column-def>
    <!-- status col def -->
    <brn-column-def name="status" class="">
      <hlm-th *brnHeaderDef>Status</hlm-th>
      <hlm-td class="font-medium tabular-nums" *brnCellDef="let element">
        @if (element.status === "active".toUpperCase()) {
          <p class="rounded-full bg-green-500 px-2 py-1 text-white">
            {{ element.status }}
          </p>
        } @else if (element.status === "inactive".toUpperCase()) {
          <p class="rounded-full bg-red-500 px-2 py-1 text-white">
            {{ element.status }}
          </p>
        }
      </hlm-td>
    </brn-column-def>

    <!-- Actions col def -->
    <brn-column-def name="actions" class="">
      <hlm-th *brnHeaderDef>Actions</hlm-th>
      <hlm-td *brnCellDef="let element">
        <button
          hlmBtn
          variant="ghost"
          class="h-6 w-6 p-1"
          align="center"
          [brnMenuTriggerFor]="menu"
        >
          <hlm-icon class="h-4 w-4" name="lucideCircleEllipsis" />
        </button>

        <ng-template #menu>
          <hlm-menu>
            <hlm-menu-label>Actions</hlm-menu-label>
            <hlm-menu-separator />
            <hlm-menu-group>
              <button
                hlmMenuItem
                (click)="
                  onUserAssignRole(element.username, 'ADMIN', element.id)
                "
              >
                Assign Admin
              </button>
              <button
                hlmMenuItem
                (click)="onUserAssignRole(element.username, 'USER', element.id)"
              >
                Assign User
              </button>
              <button
                hlmMenuItem
                (click)="
                  onUserAssignRole(element.username, 'AUTHOR', element.id)
                "
              >
                Assign Author
              </button>
            </hlm-menu-group>
            <hlm-menu-separator />
            <hlm-menu-group>
              <button hlmMenuItem (click)="onUserEdit(element.id)">
                Edit User
              </button>
              <button hlmMenuItem (click)="onUserDelete(element.id)">
                Delete User
              </button>
            </hlm-menu-group>
          </hlm-menu>
        </ng-template>
      </hlm-td>
    </brn-column-def>

    <!-- Displays if there is no data -->
    <div
      class="flex items-center justify-center p-20 text-muted-foreground"
      brnNoDataRow
    >
      No data
    </div>
  </brn-table>

  <!-- Table Pagination -->
  <div
    class="mt-4 flex flex-col justify-between sm:flex-row sm:items-center"
    *brnPaginator="
      let ctx;
      totalElements: _totalElements();
      pageSize: _pageSize();
      onStateChange: _onStateChange
    "
  >
    <span class="text-sm text-muted-foreground"
      >{{ _selected()?.length }} of {{ _totalElements() }} row(s) selected</span
    >
    <div class="mt-2 flex sm:mt-0">
      <brn-select
        class="inline-block"
        placeholder="{{ _availablePageSizes[0] }}"
        [(ngModel)]="_pageSize"
      >
        <hlm-select-trigger class="w-15 mr-1 inline-flex h-9">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content>
          @for (size of _availablePageSizes; track size) {
            <hlm-option [value]="size">
              {{ size === 10000 ? "All" : size }}
            </hlm-option>
          }
        </hlm-select-content>
      </brn-select>

      <div class="flex space-x-1">
        <button
          size="sm"
          variant="outline"
          hlmBtn
          [disabled]="!ctx.decrementable()"
          (click)="ctx.decrement()"
        >
          Previous
        </button>
        <button
          size="sm"
          variant="outline"
          hlmBtn
          [disabled]="!ctx.incrementable()"
          (click)="ctx.increment()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</section>
