<!-- loading state -->
<app-loading-state
  [loading]="loading()"
  loadingText="Loading Books..."
></app-loading-state>

<!-- error state -->
<app-error-state [error]="error()"></app-error-state>

<!-- loading books -->
<div>
  <div class="my-3" *ngIf="!loading() && !error()">
    <!-- <div
      class="grid grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3"
      *ngIf="inputBooks() !== undefined"
    >
      <app-book *ngFor="let book of inputBooks()" [book]="book"></app-book>
    </div> -->

    <!-- <pre>null {{ inputBooks() === undefined && books().length > 0 }}</pre> -->
    @if (inputBooks() !== undefined) {
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        <app-book *ngFor="let book of books()" [book]="book"></app-book>
      </div>
    } @else if (inputBooks() == null && books().length > 0) {
      <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
        <app-book *ngFor="let book of books()" [book]="book"></app-book>
      </div>
    } @else {
      <app-no-element-found element="Book"></app-no-element-found>
    }
  </div>
</div>
