<!-- loading state -->
<div
  class="flex w-full flex-col items-center justify-center gap-5"
  *ngIf="loading()"
>
  <app-loading-spinner></app-loading-spinner>
  <p class="text-2xl font-bold text-green-500">Loading books...</p>
</div>

<!-- error state -->
<div
  class="flex w-full flex-col items-center justify-center"
  *ngIf="error() !== undefined"
>
  <p class="text-2xl font-bold text-red-500">{{ error() }}</p>
</div>

<!-- loading books -->
<div class="my-3">
  <div class="h-screen" *ngIf="!loading() && !error()">
    <div
      class="grid grid-cols-1 gap-8 md:grid-cols-3"
      *ngIf="books().length > 0; else noBooks"
    >
      <app-book *ngFor="let book of books()" [book]="book"></app-book>
    </div>

    <ng-template #noBooks>
      <p>No books available.</p>
    </ng-template>
  </div>
</div>
