<app-loading-state
  [loading]="loading()"
  loadingText="Loading Books...."
  heightclass="h-screen"
></app-loading-state>

<!-- <div class="mx-5 my-[6rem] md:mx-[7rem] xl:mx-[10rem]">
  <p>user detail</p>
  <pre>{{ authService.currentUserDetail() | json }}</pre>

  <p>user signal</p>
  <pre>{{ authService.currentUserSignal() | json }}</pre>
</div> -->

<app-error-state [error]="error()" heightclass="h-screen"></app-error-state>

<!-- Main page -->
<main
  *ngIf="!loading() && !error()"
  class="mx-5 my-[6rem] md:mx-[7rem] xl:mx-[10rem]"
>
  <!-- hero section text -->
  <app-hero-header
    title="Am Book Center"
    subtitle="is simply dummy text of the printing and typesetting industry. Lorem Ipsum
      has been the industry's standard dummy text ever since the 1500s"
  >
  </app-hero-header>

  <!-- search section -->
  <div class="mb-8">
    <div class="mb-4 flex gap-2">
      <!-- search input -->
      <input
        [(ngModel)]="searchTerm"
        class="w-full"
        hlmInput
        placeholder="Search book by name"
        type="text"
      />

      <!-- search button -->
      <button
        hlmBtn
        variant="default"
        class="rounded-full"
        (click)="
          this.bookService.searchBooks(
            searchTerm(),
            booksByPublishedYear,
            books
          )
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </button>
    </div>

    <!-- select filter elements -->
    <div class="grid w-full grid-cols-1 gap-2 md:grid-cols-3 md:gap-5 lg:gap-5">
      <!-- genre selector -->
      <brn-select class="inline-block" placeholder="Select genres">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content class="w-full">
          @for (genre of genres(); track $index) {
            <button
              class="w-full cursor-pointer"
              (click)="searchByGenre(genre.id)"
            >
              <hlm-option [value]="genre?.id">{{ genre?.name }}</hlm-option>
            </button>
          }
        </hlm-select-content>
      </brn-select>
      <!-- language selector -->
      <brn-select class="inline-block" placeholder="Select Language">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content class="w-full">
          @for (language of languages(); track $index) {
            <button
              class="w-full cursor-pointer"
              (click)="fetchLanguage(language.value)"
            >
              <hlm-option [value]="language.label">{{
                language.value
              }}</hlm-option>
            </button>
          }
        </hlm-select-content>
      </brn-select>
      <!-- published year selector -->
      <brn-select class="inline-block" placeholder="Select published year">
        <hlm-select-trigger class="w-full">
          <hlm-select-value />
        </hlm-select-trigger>
        <hlm-select-content class="grid w-fit grid-cols-5 gap-2">
          @for (year of years; track $index) {
            <button class="cursor-pointer" (click)="fetchPublishedYear(year)">
              <hlm-option class="w-full" [value]="year">{{ year }}</hlm-option>
            </button>
          }
        </hlm-select-content>
      </brn-select>
    </div>
  </div>

  <!-- Display Books -->
  <ng-container *ngIf="currentBooks()">
    <app-books [inputBooks]="currentBooks()"></app-books>
  </ng-container>

  <pre>{{ searchTerm() }}</pre>
  <!-- No Books Found -->
  <ng-container *ngIf="currentBooks()?.length === 0">
    <app-no-element-found element="Books"></app-no-element-found>
  </ng-container>
</main>
