<!-- loading state -->
<app-loading-state
  [loading]="loading()"
  loadingText="Loading Genre"
  heightclass="h-screen"
></app-loading-state>

<!-- error state -->
<app-error-state heightclass="h-screen" [error]="error()"></app-error-state>

<!-- Genre Detail render -->
<section
  *ngIf="!loading() && !error()"
  class="mx-[1rem] my-[7rem] flex flex-col gap-5 md:mx-[5rem] xl:mx-[10rem]"
>
  <section *ngIf="genres(); else noBooks" class="flex flex-col gap-8">
    <h1 class="text-3xl font-bold text-green-500">Genres List</h1>
    <a
      target="_blank"
      class="grid grid-cols-1 gap-3 md:grid-cols-2 lg:grid-cols-3"
    >
      @if (genres().length > 0) {
        @for (genre of genres(); track $index) {
          <div
            (click)="fetchBookByGenre(genre.id)"
            class="cursor-pointer rounded-md border-4 border-green-200 bg-green-100 p-5 hover:bg-green-300"
          >
            <h2 class="text-lg font-bold">{{ genre.name }}</h2>
            <p class="line-clamp-3">{{ genre.description }}</p>
          </div>
        }
      } @else {
        <p>no genre found</p>
      }
    </a>
  </section>
  <!-- No book info section -->
  <ng-template #noBooks>
    <p>No Genre found</p>
  </ng-template>
</section>
