<!-- toaster component -->
<hlm-toaster richColors closeButton="top-right" />

<!-- loading state -->
<app-loading-state
  [loading]="bookService.loading()"
  loadingText="Loading book info..."
  heightclass="h-screen"
></app-loading-state>

<!-- error state -->
<app-error-state
  heightclass="h-screen"
  [error]="bookService.error()"
></app-error-state>

<!-- Book Detail render -->
<section
  *ngIf="!bookService.loading() && !bookService.error()"
  class="mx-[1rem] my-[7rem] flex flex-col gap-5 md:mx-[5rem] xl:mx-[10rem]"
>
  @if (
    bookService.book() &&
    bookService.book() !== null &&
    bookService.book() !== undefined
  ) {
    <section class="flex flex-col gap-8">
      <section class="flex flex-col gap-5 md:flex-row">
        <div class="group relative">
          <!-- book cover image -->
          <img
            height="500"
            width="400"
            class="h-[500px] max-h-min w-[400px] self-center overflow-hidden rounded-lg object-cover shadow-lg md:self-auto"
            [src]="
              '/book_images/' + bookService.book()?.coverImage ||
              'https://placehold.co/400x500'
            "
            [alt]="bookService.book()?.title + 'cover image'"
          />

          <!-- Bookmark button add to collection (mobile) -->
          <button
            hlmBtn
            (click)="bookService.fetchCollections()"
            class="peer mt-5 flex items-center gap-2 md:hidden"
          >
            <i class="fa-solid fa-bookmark"></i> Add to collection
          </button>

          <!-- Bookmark button add to collection (desktop) -->
          <button
            (click)="bookService.fetchCollections()"
            class="peer absolute right-5 top-5 hidden size-10 rounded-full bg-green-500 text-xl text-white opacity-0 ring-green-500 ring-offset-1 hover:ring-4 group-hover:opacity-100 md:block"
          >
            <i class="fa-solid fa-bookmark"></i>
          </button>
          <!-- list of collection pop up on click -->
          <div
            class="absolute right-10 top-5 rounded-md bg-white p-5 opacity-0 shadow-xl peer-focus:opacity-100"
          >
            @if (
              bookService?.collections() !== null &&
              bookService?.collections().length > 0
            ) {
              @for (collection of bookService?.collections(); track $index) {
                <button
                  (click)="
                    bookService?.addToCollection(
                      bookService.book()?.id,
                      collection?.id
                    )
                  "
                  class="w-full border-b-2 bg-transparent p-3 font-medium transition-all delay-100 hover:bg-slate-100 hover:px-5"
                >
                  {{ collection?.name }}
                </button>
              }
            } @else {
              <button
                class="w-full border-b-2 bg-transparent p-3 font-medium transition-all delay-100 hover:bg-slate-100 hover:px-5"
              >
                Add new collection
              </button>
            }
          </div>
        </div>

        <!-- Book Text block  -->
        <section class="flex flex-col gap-5">
          <!-- title and description  -->
          <div class="flex flex-col gap-5">
            <div class="flex items-center justify-between">
              <h1
                class="text-center text-3xl font-bold text-green-500 md:text-left"
              >
                {{ bookService.book()?.title }}
              </h1>

              <!-- edit button -->

              <button
                *ngIf="
                  authService.currentUserDetail()?.data.id ===
                  bookService.author()?.data?.user?.id
                "
                (click)="editBook(bookService.book()?.id)"
                class="flex gap-3"
                hlmBtn
                variant="default"
              >
                <i class="fa-solid fa-pen"></i
                ><span class="hidden md:block">Edit</span>
              </button>
            </div>

            <!-- Description section with read more -->
            <div class="relative">
              <!-- description -->
              <p
                [ngClass]="{
                  'line-clamp-5 max-w-[80ch] text-lg': true,
                  'line-clamp-none': isReadMe(),
                }"
              >
                {{ bookService.book()?.description }}
              </p>
              <!-- gradient overlay -->
              <div
                [ngClass]="{
                  'absolute inset-0 h-full w-full bg-gradient-to-b from-transparent to-white opacity-100': true,
                  'bg-gradient-to-b from-transparent to-transparent opacity-0 transition-all delay-200':
                    !isReadMe(),
                }"
              ></div>
            </div>
            <!-- read more and readless button -->
            <button
              class="flex items-center gap-2 rounded-md border-4 border-green-500/10 p-2 tracking-wide text-green-500"
              (click)="openReadMe()"
            >
              {{ isReadMe() === true ? "Read less" : "Read More..." }}
              <span [ngClass]="{ 'text-sm': true, 'rotate-180': !isReadMe() }">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="14"
                  width="14"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"
                  />
                </svg>
              </span>
            </button>
          </div>

          <hr />

          <!-- Publisher information -->
          <div class="flex flex-col gap-5">
            <p class="flex flex-col">
              <span class="text-green-500">ISBN</span
              ><span class="text-lg">{{ bookService.book()?.isbn }}</span>
            </p>
            <p class="flex flex-col">
              <span class="text-green-500">Language</span
              ><span class="text-lg">{{ bookService.book()?.language }}</span>
            </p>
            <p class="flex flex-col">
              <span class="text-green-500">Publisher</span
              ><span class="text-lg">{{ bookService.book()?.publisher }}</span>
            </p>
            <p class="flex flex-col">
              <span class="text-green-500">Published Year</span
              ><span class="text-lg">{{
                bookService.book()?.publishedYear
              }}</span>
            </p>
          </div>

          <!-- Genre section -->
          <div class="flex flex-col gap-5">
            <!-- title -->
            <h2 class="text-2xl font-bold text-green-500">Genre</h2>
            <!-- genre list -->
            <div class="flex flex-wrap items-start gap-3">
              <!-- add genre button with text if there is no genre -->
              @if (bookService.book().genres.length == 0) {
                <div class="flex items-center gap-5">
                  <button
                    (click)="onModalOpen()"
                    class="flex gap-1 rounded-xl border-4 border-dashed border-green-500 bg-green-200 px-8 py-3 transition-all delay-100 hover:bg-white"
                  >
                    <span class="text-xl font-bold">+</span>
                    <span class="text-lg font-bold">{{
                      "add" | titlecase
                    }}</span>
                  </button>
                  <p>
                    add new genre to the book no genres associated with book
                  </p>
                </div>
              }

              <!-- Genres list -->
              @if (bookService.book().genres.length > 0) {
                @for (genre of bookService.book()?.genres; track $index) {
                  <a
                    [routerLink]="'/genres/' + genre.id"
                    class="border-b-2 border-green-500 p-2 hover:bg-green-100"
                    >{{ genre?.name }}</a
                  >
                }
              }
            </div>
          </div>

          <!-- Rating section -->
          <!-- <div class="flex flex-col gap-2">
            <h2 class="text-2xl font-bold text-green-500">
              Rating (<span class="text-yellow-500">{{
                bookService.book()?.averageRating
              }}</span>
              / {{ maxRating() }})
            </h2>
            <app-star-rating
              formControlName="rating"
              [min]="1"
              [max]="maxRating()"
              [value]="bookService.book()?.averageRating > 0 ? bookService.book()?.averageRating : 0"
              [avgRating]="bookService.book()?.averageRating"
              (ratingChange)="onRatingChange($event, bookId())"
            >
            </app-star-rating>
          </div> -->
        </section>
      </section>

      <!-- About the Author -->
      <!-- author loading state -->
      <app-loading-state
        [loading]="bookService.authorLoading()"
        loadingText="Loading author information..."
      ></app-loading-state>

      <!-- author error state -->
      <app-error-state [error]="bookService.authorError()"></app-error-state>
      <!-- author section loaded -->
      <section>
        <section
          class="flex flex-col gap-5"
          *ngIf="!bookService.authorLoading() && !bookService.authorError()"
        >
          <h2 class="text-2xl font-bold">About the Author</h2>
          <div
            class="flex flex-col gap-5 rounded-xl border-2 bg-slate-50 p-5 shadow-xl"
          >
            <!-- avatar image -->
            <div class="flex items-center gap-3">
              <hlm-avatar variant="large">
                <img
                  [src]="
                    'profile_images/' +
                      bookService.author()?.data?.profilePicture ||
                    '/assets/avatar.png'
                  "
                  [alt]="bookService.book()?.title + 'cover image'"
                  hlmAvatarImage
                />
                <!-- avatar fallback -->
                <span class="bg-[#FD005B] text-white" hlmAvatarFallback>
                  {{ bookService.author()?.data.firstName.at(0).toUpperCase() }}
                  {{ bookService.author()?.data.lastName.at(0).toUpperCase() }}
                </span>
              </hlm-avatar>
              <!-- name section -->
              <div>
                <!-- name -->
                <h1 class="text-xl font-bold">
                  {{ bookService.author()?.data?.firstName || "Amanuel" }}
                  {{ bookService.author()?.data?.lastName || "Mekashaw" }}
                </h1>
                <!-- email or username -->
                <p>{{ bookService.book()?.author?.username }}</p>
              </div>
            </div>
            <!-- biography -->
            <p class="text-lg">
              {{
                bookService.author()?.data?.biography ||
                  "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi vero eveniet magni vitae incidunt dolores quibusdam temporibus voluptatum eaque eos?"
              }}
            </p>
          </div>
        </section>
      </section>

      <!-- Rating and comment section -->
      <button hlmBtn (click)="bookService.fetchRatings(bookId())">
        load rating
      </button>
      <section class="flex flex-col gap-5">
        <app-rating-description
          [ratings]="bookService?.ratings()"
        ></app-rating-description>
        <app-comment-form
          [avgRating]="bookService.book()?.averageRating"
          [bookId]="bookId()"
          [userId]="authService?.currentUserSignal()?.data?.user?.id"
          [ratings]="bookService?.ratings()"
        ></app-comment-form>
        <app-comment [ratings]="bookService?.ratings()"></app-comment>
      </section>
    </section>
  } @else {
    <!-- No book info section -->
    <app-no-element-found
      [amountOfBooks]="0"
      [element]="'No books information with id ' + bookId()"
    ></app-no-element-found>
  }
</section>
