<!-- toaster component -->
<hlm-toaster richColors closeButton="top-right" />

<!-- loading state -->
<app-loading-state
  [loading]="bookService.loading()"
  loadingText="Loading book info..."
  heightclass="h-screen"
></app-loading-state>

<!-- error state -->
<app-error-state
  heightclass="h-screen"
  [error]="bookService.error()"
></app-error-state>

<!-- Book Detail render -->
<section
  *ngIf="!bookService.loading() && !bookService.error()"
  class="mx-[1rem] my-[7rem] flex flex-col gap-5 md:mx-[5rem] xl:mx-[10rem]"
>
  @if (
    bookService.book() &&
    bookService.book() !== null &&
    bookService.book() !== undefined
  ) {
    <section class="flex flex-col gap-8">
      <section class="flex flex-col gap-5 md:flex-row">
        <div class="group relative">
          <!-- Book cover image and collection button -->
          <div class="sticky top-[6rem]">
            <!-- book cover image -->
            <img
              class="h-[500px] max-h-min w-[400px] self-center overflow-hidden rounded-lg object-cover shadow-lg md:self-auto"
              [src]="
                'http://localhost:9191' + bookService.book()?.coverImageUrl ||
                'https://placehold.co/400x500'
              "
              [alt]="bookService.book()?.title + 'cover image'"
            />

            <!-- Bookmark button add to collection (mobile) -->
            <button
              hlmBtn
              (click)="bookService.fetchCollections()"
              class="peer mt-2 flex w-full items-center gap-2"
            >
              <i class="fa-solid fa-bookmark"></i> Add to collection
            </button>

            <!-- list of collection pop up on click -->
            <div
              class="absolute left-0 top-0 flex flex-col gap-2 rounded-md border-2 bg-white p-5 opacity-0 shadow-xl peer-focus:opacity-100"
            >
              <button
                routerLink="/dashboard/collections"
                class="w-full border-b-2 bg-transparent p-3 font-medium transition-all delay-100 hover:bg-slate-100 hover:px-5"
              >
                <i class="fa-solid fa-plus w-fit text-green-500"></i> Add new
                collection
              </button>
              @if (
                bookService?.collections() !== null &&
                bookService?.collections().length > 0
              ) {
                @for (collection of bookService?.collections(); track $index) {
                  @if (
                    collection?.user?.id ===
                    authService.currentUserSignal()?.data?.user?.id
                  ) {
                    <button
                      (click)="
                        bookService?.addToCollection(
                          bookService.book()?.id,
                          collection?.id,
                          collection?.user?.id
                        )
                      "
                      class="flex w-full items-center justify-between gap-2 rounded-md border-2 bg-transparent p-3 font-medium transition-all delay-100 hover:bg-slate-100 hover:px-2 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:hover:bg-gray-200"
                    >
                      <!-- collection name -->
                      {{ collection?.name }}

                      <!-- Badges -->
                      <div class="flex w-fit items-center gap-1">
                        <!-- private collections -->
                        <span
                          *ngIf="collection?.private"
                          hlmBadge
                          variant="default"
                          >private</span
                        >
                        <!-- Private and not yours badge -->
                        <span
                          *ngIf="
                            collection?.user?.id !==
                              authService.currentUserSignal()?.data?.user?.id &&
                            collection?.private === true
                          "
                          hlmBadge
                          variant="destructive"
                          >not yours</span
                        >
                      </div>
                    </button>
                  }
                }
              }
            </div>
          </div>
        </div>

        <!-- Book Text block  -->
        <section class="flex flex-col gap-5">
          <!-- title and description  -->
          <div class="flex flex-col gap-5">
            <div class="flex items-center justify-between">
              <h1
                class="text-center text-3xl font-bold text-green-500 md:text-left"
              >
                {{ bookService.book()?.title }}
              </h1>

              <!-- edit button -->

              <button
                *ngIf="
                  authService.currentUserDetail()?.data.id ===
                  bookService.author()?.data?.user?.id
                "
                (click)="editBook(bookService.book()?.id)"
                class="flex gap-3"
                hlmBtn
                variant="default"
              >
                <i class="fa-solid fa-pen"></i
                ><span class="hidden md:block">Edit</span>
              </button>
            </div>

            <!-- Description section with read more -->
            <div class="relative">
              <!-- description -->
              <p
                [ngClass]="{
                  'line-clamp-5 max-w-[80ch] text-lg': true,
                  'line-clamp-none': isReadMe(),
                }"
              >
                {{ bookService.book()?.description }}
              </p>
              <!-- gradient overlay -->
              <div
                [ngClass]="{
                  'absolute inset-0 h-full w-full bg-gradient-to-b from-transparent to-white opacity-100': true,
                  'bg-gradient-to-b from-transparent to-transparent opacity-0 transition-all delay-200':
                    !isReadMe(),
                }"
              ></div>
            </div>
            <!-- read more and readless button -->
            <button
              class="text-md self-end text-blue-500"
              (click)="openReadMe()"
            >
              {{ isReadMe() === true ? "Read less" : "Read More..." }}
            </button>
          </div>

          <hr />

          <!-- Publisher information -->
          <div class="flex flex-col gap-5">
            <p class="flex flex-col">
              <span class="text-green-500">ISBN</span
              ><span class="text-lg">{{ bookService.book()?.isbn }}</span>
            </p>
            <p class="flex flex-col">
              <span class="text-green-500">Language</span
              ><span class="text-lg">{{ bookService.book()?.language }}</span>
            </p>
            <p class="flex flex-col">
              <span class="text-green-500">Publisher</span
              ><span class="text-lg">{{ bookService.book()?.publisher }}</span>
            </p>
            <p class="flex flex-col">
              <span class="text-green-500">Published Year</span
              ><span class="text-lg">{{
                bookService.book()?.publishedYear
              }}</span>
            </p>
          </div>

          <!-- Genre section -->
          <div class="flex flex-col gap-5">
            <!-- title -->
            <h2 class="text-2xl font-bold text-green-500">Genre</h2>
            <!-- genre list -->
            <div class="flex flex-wrap items-start gap-3">
              <!-- add genre button with text if there is no genre -->
              @if (bookService.book().genres.length == 0) {
                <div class="flex items-center gap-5">
                  <button
                    (click)="onModalOpen()"
                    class="flex gap-1 rounded-xl border-4 border-dashed border-green-500 bg-green-200 px-8 py-3 transition-all delay-100 hover:bg-white"
                  >
                    <span class="text-xl font-bold">+</span>
                    <span class="text-lg font-bold">{{
                      "add" | titlecase
                    }}</span>
                  </button>
                  <p>
                    add new genre to the book no genres associated with book
                  </p>
                </div>
              }

              <!-- Genres list -->
              @if (bookService.book().genres.length > 0) {
                @for (genre of bookService.book()?.genres; track $index) {
                  <a
                    [routerLink]="'/genres/' + genre.id"
                    class="border-b-2 border-green-500 p-2 hover:bg-green-100"
                    >{{ genre?.name }}</a
                  >
                }
              }
            </div>
          </div>
        </section>
      </section>

      <!-- About the Author -->
      <!-- author loading state -->
      <app-loading-state
        [loading]="bookService.authorLoading()"
        loadingText="Loading author information..."
      ></app-loading-state>

      <!-- author error state -->
      <app-error-state [error]="bookService.authorError()"></app-error-state>
      <!-- author section loaded -->
      <section class="isolate">
        <section
          class="flex flex-col gap-5"
          *ngIf="!bookService.authorLoading() && !bookService.authorError()"
        >
          <h2 class="text-2xl font-bold">About the Author</h2>
          <div
            class="flex flex-col gap-5 rounded-xl border-2 bg-slate-50 p-5 shadow-xl"
          >
            <!-- avatar image -->
            <div class="flex items-center gap-3">
              <hlm-avatar variant="large">
                <img
                  [src]="
                    'http://localhost:9191' +
                      bookService.author()?.data?.profilePicture ||
                    '/assets/avatar.png'
                  "
                  [alt]="bookService.book()?.title + 'cover image'"
                  hlmAvatarImage
                />
                <!-- avatar fallback -->
                <span class="bg-[#FD005B] text-white" hlmAvatarFallback>
                  {{ bookService.author()?.data.firstName.at(0).toUpperCase() }}
                  {{ bookService.author()?.data.lastName.at(0).toUpperCase() }}
                </span>
              </hlm-avatar>
              <!-- name section -->
              <div>
                <!-- name -->
                <h1 class="text-xl font-bold">
                  {{ bookService.author()?.data?.firstName || "Amanuel" }}
                  {{ bookService.author()?.data?.lastName || "Mekashaw" }}
                </h1>
                <!-- email or username -->
                <p>{{ bookService.book()?.author?.username }}</p>
              </div>
            </div>
            <!-- biography -->
            <p class="text-lg">
              {{
                bookService.author()?.data?.biography ||
                  "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi vero eveniet magni vitae incidunt dolores quibusdam temporibus voluptatum eaque eos?"
              }}
            </p>
          </div>
        </section>
      </section>

      <!-- Rating and comment section -->
      <button hlmBtn (click)="bookService.fetchRatings(bookId())">
        load rating
      </button>

      <!-- Rating sections -->
      <section class="flex flex-col gap-5">
        <app-rating-description
          [ratings]="bookService?.ratings()"
        ></app-rating-description>
        <app-comment-form
          [avgRating]="bookService.book()?.averageRating"
          [bookId]="bookId()"
          [userId]="authService?.currentUserSignal()?.data?.user?.id"
          [ratings]="bookService?.ratings()"
        ></app-comment-form>
        <app-comment [ratings]="bookService?.ratings()"></app-comment>
      </section>
    </section>
  } @else {
    <!-- No book info section -->
    <app-no-element-found
      [amountOfBooks]="0"
      [element]="'No books information with id ' + bookId()"
    ></app-no-element-found>
  }
</section>
